h1 {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: 'Waltograph';
    text-align: center;
    font-size: 60px;
    color: darkmagenta;
}

body {
    background-color: cornflowerblue;

}

p {
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

  

#alphabet {
    margin: 15px auto;
    padding: 0;
    max-width: 900px;
    color: darkmagenta;
    background: lightgreen;

}

#alphabet li {
    float: left;
    margin: 0 10px 15px 0;
    list-style: none;
    width: 35px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    border: solid 1px;
    color: darkmagenta;
    background: lightgreen;
    font-weight:  bold;
    text-align: center;
    font-size: 30px;
    border-radius: 8px;

}

#alphabet :hover {
    background-color: rgb(230, 18, 194);
}


#my-word {
    
    color: orange;
    display: block;
    float: left;
    margin-right: 3%;
    font-family: sans-serif;
}

#my-word li {
    list-style: none;
    margin: 0;
    display: inline-block;
    padding-right: 10px;
    font-size: 1.6em;
}

#mylives {
    font-size: 1.6em;
    text-align: left;
    border: 
}

input {

font-size: 30px;
text-align: center;
margin-left: 40%;
height: 90%;
}

#button :hover {
    background-color: mediumorchid;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Waltgraph';
    
}   

}


@media (max-width: 767px){
    #alphabet {
        padding: 0 0 0 15px;
    }
}

@media (max-width: 480px){
    #alphabet{
        padding: 0 0 0 25px;

    }

}
